/* 
https://webfontworld.github.io/woowahan/BMDoHyeon.css
https://webfontworld.github.io/woowahan/BMDoHyeon.png
https://wess.tistory.com/220
*/

@font-face {
    font-family: 'BMDoHyeon';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMDoHyeon.woff2) format('woff2');
    font-display: swap;
}