/* 
https://webfontworld.github.io/woowahan/BMEuljiro10years.css
https://webfontworld.github.io/woowahan/BMEuljiro10years.png
https://wess.tistory.com/214
*/

@font-face {
    font-family: 'BMEuljiro10years';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMEuljiro10years.woff2) format('woff2');
    font-display: swap;
}