/* 
https://webfontworld.github.io/woowahan/BMEuljiro.css
https://webfontworld.github.io/woowahan/BMEuljiro.png
https://wess.tistory.com/215
*/

@font-face {
    font-family: 'BMEuljiro';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMEuljiro.woff2) format('woff2');
    font-display: swap;
}