/* 
https://webfontworld.github.io/woowahan/BMHanna11yrs.css
https://webfontworld.github.io/woowahan/BMHanna11yrs.png
https://wess.tistory.com/221
*/

@font-face {
    font-family: 'BMHanna11yrs';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMHanna11yrs.woff2) format('woff2');
    font-display: swap;
}