/* 
https://webfontworld.github.io/woowahan/BMHannaAir.css
https://webfontworld.github.io/woowahan/BMHannaAir.png
https://wess.tistory.com/217
*/

@font-face {
    font-family: 'BMHannaAir';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMHannaAir.woff2) format('woff2');
    font-display: swap;
}