/* 
https://webfontworld.github.io/cafe24/Cafe24Dangdanghae.png
https://webfontworld.github.io/cafe24/Cafe24Dangdanghae.css 
https://wess.tistory.com/208
*/

@font-face {
    font-family: 'Cafe24Dangdanghae';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Dangdanghae.woff2) format('woff2');
    font-display: swap;
}