/* 
https://webfontworld.github.io/woowahan/BMJua.css
https://webfontworld.github.io/woowahan/BMJua.png
https://wess.tistory.com/222
*/

@font-face {
    font-family: 'BMJua';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMJua.woff2) format('woff2');
    font-display: swap;
}