/* 
https://webfontworld.github.io/woowahan/BMKirangHaeRang.css
https://webfontworld.github.io/woowahan/BMKirangHaeRang.png
https://wess.tistory.com/218
*/

@font-face {
    font-family: 'BMKirangHaeRang';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMKirangHaeRang.woff2) format('woff2');
    font-display: swap;
}