/* 
https://webfontworld.github.io/woowahan/BMYeonSung.css
https://webfontworld.github.io/woowahan/BMYeonSung.png
https://wess.tistory.com/219
*/

@font-face {
    font-family: 'BMYeonSung';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMYeonSung.woff2) format('woff2');
    font-display: swap;
}